<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Geo-Locator</title>
</head>
<body>
    <form class="container pt-5" action="/add" method="post">
        <div class="form-group">
          <label for="product">Product</label>
          <select class="form-control" name="product">
            <option>Medicine</option>
            <option>Blood & Plasma</option>
            <option>ICU</option>
          </select>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" name="description" id="description" placeholder="Give a proper description of your product" autocomplete="off">
        </div>
        <div class="form-group">
          <label for="road">Road Name</label>
          <input type="text" class="form-control" name="road" id="road" placeholder="Type name of the road" autocomplete="off">
        </div>
        <div class="form-group">
          <label for="area">Area Name</label>
          <input type="text" class="form-control" name="area" id="area" placeholder="Type name of the area/locality/province" autocomplete="off">
        </div>
        <div class="form-group">
          <label for="district">District Name</label>
          <input type="text" class="form-control" name="district" id="district" placeholder="Type name of the district/state" autocomplete="off">
        </div>
        <div class="form-group">
          <label for="country">Country</label>
          <input type="text" class="form-control" name="country" id="country" placeholder="Type name of the country" autocomplete="off">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </form>
</body>
</html>