<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geo-Locator</title>
</head>
<body>
    <div class="container">
        <h1 class="display-1 text-center">Error 404: Page not found</h1>
    </div>
</body>
</html>