<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- map cdn -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />


    <title>Geo-Locator</title>
</head>
<body>
    <div class="container my-3">
        <h1 class="display-4 text-center">
            <i class="fa fa-map"></i> Geo-Locator <i class="fa fa-heartbeat"></i>
        </h1>
        <a class="btn btn-secondary mb-4" href="/add">Add Product</a>
        <div id="map" style="width: 100%; height: 500px; border-radius: 5px;"></div>
        <div id="features" style="margin: 0 auto; text-align: center;"></div>
    </div>

    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiYWJkdXMtc2FtZWUiLCJhIjoiY2tudWRuNXd2MDdqaTJvcDU2eGZ0aWc4MyJ9.VRdMdkYlYObk-K66Nx3T_g';
        const map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/outdoors-v11',
            zoom: 9,
            center: [91.805742, 22.341185]
        });

        //fetch MongoDB data
        async function getProducts(){
            const res = await fetch('/products')
            const ans = await res.json()
            
            const products = ans.map(product => {
                return {
                    type: 'Feature',
                    geometry: {
                        type: 'Point',
                        coordinates: [product.location.coordinates[0], product.location.coordinates[1]]
                    },
                    properties: {
                        description: product.description,
                        product: product.product,
                        address: product.address,
                        icon: 'hospital'
                    }
                }
            })
            loadMap(products)
        }

        getProducts()

        function loadMap(products){
            map.on('load', function(){
                
                map.addLayer({
                    id: 'points',
                    type: 'symbol',
                    source: {
                        type: 'geojson',
                        data: {
                            type: 'FeatureCollection',
                            features: products
                        }
                    },
                    layout: {
                        'icon-image': '{icon}-15',
                        'icon-size': 1.5,
                        'text-field': '{product}',
                        'text-font': ['Open Sans Semibold', 'Arial Unicode MS Bold'],
                        'text-offset': [0, 0.9],
                        'text-anchor': 'top'
                    }
                })
            })
        }
        
        map.on('click', (e) => {
            var features = map.queryRenderedFeatures(e.point);

            if(features.length === 1){
                const des = features[0]['properties']['description']
                const add = features[0]['properties']['address']
                const feat = document.getElementById('features')

                feat.innerHTML = '<p>' + des + '</p><p>' + add + '</p>'
            }
        })

    </script>
</body>
</html>